<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/invoice">Invoice</a></li>
                <li><a href="/quote">Quote</a></li>
            </ul>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
