@inherits LayoutComponentBase

<div class="page">
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/invoice">Invoice</a></li>
            <li><a href="/quote">Quote</a></li>
        </ul>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
